.navbar {
  height: 100%;
  width: 90px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  padding-top: 10px;
}
.navbar a {
  font-size: 20px;
  color: #FFFFFF;
}
.main {
  margin-left: 90px;
  font-size: 18px; 
  padding: 0px 10px;
}